.photo img {
  /*  transition: 1s;
  padding: 5px; */
  /*  width: 160px !important; */
}

* {
  margin: 0;
  padding: 0;
}
.main-container {
  margin-top: 2%;
}

.album {
  background-color: rgb(246, 244, 244);
  border-radius: 20px;
  margin: 1%;
}
.album:hover {
  transition: 2s ease-in-out;
  transform: scale(1.01);
}
.container {
  position: relative;
  column-count: 4;

  padding: 20px;
}

.photo {
  display: inline-block;
  margin-bottom: 0px;
  overflow: hidden;
  /* padding: 5px; */
}
.photo:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: 1s ease-in-out;
}
.lb-caption {
  font-size: 20px !important;
}
.lb-number {
  font-size: 20px !important;
}
.lb-next {
  width: 20% !important;
}
.lb-prev {
  width: 20% !important;
}
/* .lb-image:hover {
  transform: rotate(360deg);
} */
img {
  /*   transition: 1s;
 */

  border-radius: 15px;
  width: 100%;
  transition: 1s ease-in-out;
}
/* .photo:hover img {
  filter: grayscale(100%);
  transform: scale(1.3);
} */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .container {
    column-count: 3;
  }
  .main-container {
    margin-top: 10%;
  }
}
@media screen and (max-width: 425px) {
  .container {
    column-count: 2;
  }
  .main-container {
    margin-top: 15%;
  }
}
@media screen and (max-width: 370px) {
  .container {
    column-count: 1;
  }
  .main-container {
    margin-top: 20%;
  }
}
